<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/admin/css/main.css">
</head>
<body>
<div class="container-fluid panel-def">
    <div class="crumbs fLeft">
        <span>当前位置:</span>
        <li><a href="/admin-index">首页</a></li>
        <li><a href="">文章资讯</a></li>
    </div>

    <div class="fRight">
        <a href="">添加文章</a>
        <a href="">删除全部</a>
    </div>
</div>

<div class="news-wrap">
    <div class="news-header">
        <li>ID</li>
        <li>标题</li>
        <li>所属分类</li>
        <li>日期</li>
        <li>操作</li>
    </div>

    <div class="news-cont">
        
    </div>


    <div class="news-pagation">
        <a href="" class="bt-def prev"><</a>
        <a href="" class="bt-def active">1</a>
        <a href="" class="bt-def">2</a>
        <a href="" class="bt-def next">></a>
    </div>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function getEl(e,p){
    return (p || document).querySelector(e);
}
var cont = getEl('.news-cont')
axios.post('../api/admin/newsAll').then(function(res){
    if(res.data){
        var str = '';
        res.data.forEach(function(e,i){
            str += '<div class="news-list"><li>'
                +res.data[i].id+'</li><li>'
                +res.data[i].title+'</li><li>'
                +res.data[i].cont+'</li><li>'
                +res.data[i].time.split('T')[0]+'</li><li><a href="javascript:;" onclick="del('
                +res.data[i].id+')">删除</a><a href="javascript:;">编辑</a></li> </div>'
        });
        cont.innerHTML = str
    }
}).catch(function(err){
    console.log(err)
})

/*
    删除文章记录
    i 文章id
*/
function del(x){
    axios.post('../api/admin/newsFind',{
        id: x
    }).then(function(res){
        if(res.data){
            axios.post('../api/admin/delNews',{
                id:x
            }).then(function(res){
                console.log(res.data)
            })
        }else{
            alert('文章不存在')
            window.location.reload()
        }
    })
}


/*
    编辑文章
*/
/*axios.post('../api/admin/newInfo',{
}).then(function(res){
    console.log(res.data)
})
*/
</script>
</html>