<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/admin/css/main.css">
    <link rel="stylesheet" href="/public/admin/css/userAll.css">
</head>
<body>
<div class="container-fluid panel-def">
    <div class="crumbs fLeft">
        <span>当前位置:</span>
        <li><a href="/admin-index">首页</a></li>
        <li><a href="/admin/admin-userAll">所有用户</a></li>
    </div>

    <div class="fRight">
        <a href="">刷新</a>
        <a href="javascript:;" onclick="delUserAll()">删除全部</a>
    </div>
</div>

<div class="user-wrap">
    {% for b in blog%}
    <li><a href='/admin/admin-user?id={{b.username}}'>
        <div class="logo-img">
        </div>
        {{logoURL}}
            <img src={{b.logoURL || '/public/temp/moren.png'}} alt="">
            <div class="name">{{b.username}}</div>
            <div class="time">{{b.newTime}}</div>

            {% if b.isAdmin == 'true'%}
                <div class="isAdmin yes">超级用户</div>
            {% else %}
                <div class="isAdmin">普通用户</div>
            {% endif%}
    </a></li>
    {% endfor %}
</div>


</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function getEl(e,p){
    return (p || document).querySelector(e);
}
function delUserAll(){
    axios.post('../api/admin/delUserAll').then(function(res){
        if(res.data){
            alert('删除成功')
            window.location.reload()
        }else{
            alert('删除失败，你不是超级用户')
        }
    })
}

</script>
</html>