<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账户信息</title>
    <link rel="stylesheet" href="/public/admin/css/main.css">
</head>
<body>
<div class="container-fluid panel-def">
    <div class="crumbs fLeft">
        <span>当前位置:</span>
        <li><a href="/admin-index">首页</a></li>
        <li><a href="">个人账户</a></li>
    </div>
</div>

<div class="container-fluid user">
    <h1 class="user-title">个人资料</h1>
    <div class="user--list">
        <span>头像</span>
        <div class="user-mod">
            <img src="" alt="" class="logo">
            <input type="file" name="" value="123" id="" class="file">
            <span>请上传 jpg | png</span>
        </div>
    </div>
    <div class="user--list">
        <span>用户名</span>
        <div class="user-mod">
            <input type="text" disabled placeholder="你觉得什么用户名最合适你呢" id="name" onblur="comp(this.value)">
        </div>
    </div>

    <div class="user--list">
        <span>个人介绍</span>
        <div class="user-mod">
            <textarea name="" placeholder="让更多的人去了解一下你" cols="30" rows="10" id="intr" onblur="comp(this.value)"></textarea>
        </div>
    </div>

    <div class="user--list">
        <span>个人网站</span>
        <div class="user-mod">
                <input type="text" placeholder="有没有属于你个人的网站呢" id="web" onblur="comp(this.value)">
        </div>
    </div>

    <div class="user--list">
        <span>公司</span>
        <div class="user-mod">
                <input type="text" placeholder="公司或许虽小，有你却更好" id="comp" onblur="comp(this.value)">
        </div>
    </div>

    <div class="ps">自动保存*</div>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/admin/isLogin.js"></script>
<script>
var Name = getEl('#name'),
    Intr = getEl('#intr'),
    Web = getEl('#web'),
    Comp = getEl('#comp'),
    logo = getEl('.logo');
axios.post('../api/admin/keep-user',{
    name: un
}).then(function(res){
    if(res.data.length){
        var r = res.data[0];
        logo.src = r.logoURL || '/temp/moren.png';
        Name.value = r.username || '';
        Intr.value = r.intr || '';
        Web.value = r.web || '';
        Comp.value = r.comp || '';
    }else{
        console.log('获取失败')
    }
})
function getEl(e,p){
    return (p||document).querySelector(e)
}
function comp(q){
    var _id = this.event.path[0].id
    switch(_id){
        case 'name':
        sendData('username',q,un)
        break;
        case 'intr':
        sendData('intr',q,un)
        break;
        case 'web':
        sendData('web',q,un)
        break;
        case 'comp':
        sendData('comp',q,un)
        break;
    }
}

// 列名 -- 要修改的数据 -- 条件
function sendData(list,data,cond){
    
    axios.post('../api/admin/heat-user',{
        l: list,
        d: data,
        c: cond
    }).then(function(r){
        console.log(r.data)
    })
}


// 获取获取file对象
var fl = getEl('[type=file]')
fl.onchange = function(){
    var data = this.files[0],
        name = data.name,
        size = data.size,
        type = name.split('.')[1]
    if(type != 'jpg' && type != 'png'){
        alert('请上传jpg或者png')
        fl.value = null
        return;
    }
    if(size/1024/1024 > 5){
        alert('上传文件请勿超过5mb')
        fl.value = null
        return;
    }

    // 使用formdata 上传图片
    let param = new FormData()
    param.append('file', data, name)
    param.append('id', un)
    let config = {
        headers: {'Content-Type': 'multipart/form-data'}
    }
    // 添加请求头
    axios.post('../api/admin/img', param, config)
        .then(res => {
        if(!!res.data.path){
            var s = '/'+res.data.path;
            logo.src = s;
            fl.value = null;
            return;
        }
    })
}
</script>
</html>