<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加文章</title>
    <link rel="stylesheet" href="/public/admin/css/main.css">
    <script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/public/ueditor/lang/zh-cn/zh-cn.js"> </script>
</head>
<body>
<div class="container-fluid panel-def">
    <div class="crumbs fLeft">
        <span>当前位置:</span>
        <li><a href="/admin-index">首页</a></li>
        <li><a href="/admin/admin-new">博客文章</a></li>
        <li><a href="">添加文章</a></li>
    </div>

    <div class="fRight">
        <a href="javascript:;" onclick="getContent()">确认发布</a>
    </div>
</div>

<input type="text" class="title" placeholder='请输入文章标题'>
<input type="text" class="tab" placeholder='请输入文章分类   以,分割'>
<script id="editor" type="text/plain" style="width:100%;height:500px;margin-top:5px;"></script>

<div id="standalone-container">
<div id="toolbar-container">
    <span class="ql-formats">
    <select class="ql-font"></select>
    <select class="ql-size"></select>
    </span>
    <span class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
    <select class="ql-color"></select>
    <select class="ql-background"></select>
    </span>
    <span class="ql-formats">
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
    </span>
    <span class="ql-formats">
    <button class="ql-header" value="1"></button>
    <button class="ql-header" value="2"></button>
    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
    </span>
    <span class="ql-formats">
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <button class="ql-indent" value="-1"></button>
    <button class="ql-indent" value="+1"></button>
    </span>
    <span class="ql-formats">
    <button class="ql-direction" value="rtl"></button>
    <select class="ql-align"></select>
    </span>
    <span class="ql-formats">
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-video"></button>
    <button class="ql-formula"></button>
    </span>
    <span class="ql-formats">
    <button class="ql-clean"></button>
    </span>
</div>
<div id="editor-container"></div>
</div>


</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<script>
var id = location.search.slice(1,-1).split('=')[1];
//var ue = UE.getEditor('editor');

var quill = new Quill('#editor-container', {
    modules: {
      toolbar: '#toolbar-container'
    },
    theme: 'snow'
});

// 判断是否有传id
if(id){
    axios.post('../api/admin/newsFind',{
        id: id
    }).then(function(res){
        if(res.data){
            getEl('.title').value = res.data[0].title;
            getEl('.tab').value = res.data[0].tab;
            document.querySelector('.ql-editor').innerHTML = res.data[0].cont;
        }
    })
}
var arr = [];
function getContent(ue) {
    var title = getEl('.title').value;
    var tab = getEl('.tab').value;
    
    if(title == ''){
        alert('标题不能为空')
        return;
    }
    if(tab == ''){
        alert('分类不能为空');
        return;
    }
    
    //arr.push(UE.getEditor('editor').getContent());
    var yuer = new Date().getFullYear();
    var mon = new Date().getMonth()+1;
    var day = new Date().getDate();
    var s = yuer+'-'+mon+'-'+day;
    if(id){
        axios.post('../api/admin/modNews',{
            id: id,
            title: title,
            cont: document.querySelector('.ql-editor').innerHTML,
            tab: tab,
            time: s
        }).then(function(res){
            if(res.data){
                window.location.href = window.location.origin+'/admin/admin-new'
            }else{
                alert('请重试')
            }
        })
    }else{
        axios.post('../api/admin/addNews',{
            title: title,
            cont: arr.join('\n'),
            tab: tab,
            time: s
        }).then(function(res){
            if(res.data){
                window.location.href = window.location.origin+'/admin/admin-new'
            }else{
                alert('请重试')
            }
        })
    }
}
function getEl(e,q){
    return (q||document).querySelector(e)
}
</script>
</html>