@charset "UTF-8";
/*
    github:
    https://github.com/ZongDuCha/ZD-1.0
    http://www.zongdusir.top/
    Email:1367243169@qq.com
    qq:1367243169
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  outline: none; }
  @media (max-width: 990px) {
    * {
      font-size: 95%; } }

p, a, li, ul, ol, dd, dt, div, h1, h2, h3, h4, h5 {
  display: block;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #000;
  word-wrap: break-word;
  position: relative; }
  p:after, a:after, li:after, ul:after, ol:after, dd:after, dt:after, div:after, h1:after, h2:after, h3:after, h4:after, h5:after {
    content: '';
    clear: both;
    display: block; }
  p:before, a:before, li:before, ul:before, ol:before, dd:before, dt:before, div:before, h1:before, h2:before, h3:before, h4:before, h5:before {
    content: '';
    clear: both;
    display: block; }

[class*=careat] {
  height: 0;
  position: relative;
  width: 0; }

.container-fluid {
  width: 100%; }

.container {
  height: auto;
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .container:after {
    content: '';
    clear: both;
    display: block; }
  .container:before {
    content: '';
    clear: both;
    display: block; }
  @media (max-width: 1200px) {
    .container {
      width: 990px; } }
  @media (max-width: 990px) {
    .container {
      width: 770px; } }
  @media (max-width: 770px) {
    .container {
      width: 100%; } }

[class*=zd-md-], [class*=zd-sm-], [class*=zd-xs-] {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 1px; }

.rnd {
  border-radius: 50%; }

[class*=zd-md-] {
  display: inline-block; }

h5 {
  font-size: 10px; }

.rnd-5 {
  border-radius: 100px; }

h4 {
  font-size: 20px; }

.rnd-4 {
  border-radius: 80px; }

h3 {
  font-size: 30px; }

.rnd-3 {
  border-radius: 60px; }

h2 {
  font-size: 40px; }

.rnd-2 {
  border-radius: 40px; }

h1 {
  font-size: 50px; }

.rnd-1 {
  border-radius: 20px; }

@media (min-width: 1200px) {
  .zd-md-1 {
    width: 8.3333333333%; }

  .zd-mdLeft-1 {
    margin-left: 8.3333333333%; }

  .zd-mdRight-1 {
    margin-right: 8.3333333333%; }

  .zd-md-2 {
    width: 16.6666666667%; }

  .zd-mdLeft-2 {
    margin-left: 16.6666666667%; }

  .zd-mdRight-2 {
    margin-right: 16.6666666667%; }

  .zd-md-3 {
    width: 25%; }

  .zd-mdLeft-3 {
    margin-left: 25%; }

  .zd-mdRight-3 {
    margin-right: 25%; }

  .zd-md-4 {
    width: 33.3333333333%; }

  .zd-mdLeft-4 {
    margin-left: 33.3333333333%; }

  .zd-mdRight-4 {
    margin-right: 33.3333333333%; }

  .zd-md-5 {
    width: 41.6666666667%; }

  .zd-mdLeft-5 {
    margin-left: 41.6666666667%; }

  .zd-mdRight-5 {
    margin-right: 41.6666666667%; }

  .zd-md-6 {
    width: 50%; }

  .zd-mdLeft-6 {
    margin-left: 50%; }

  .zd-mdRight-6 {
    margin-right: 50%; }

  .zd-md-7 {
    width: 58.3333333333%; }

  .zd-mdLeft-7 {
    margin-left: 58.3333333333%; }

  .zd-mdRight-7 {
    margin-right: 58.3333333333%; }

  .zd-md-8 {
    width: 66.6666666667%; }

  .zd-mdLeft-8 {
    margin-left: 66.6666666667%; }

  .zd-mdRight-8 {
    margin-right: 66.6666666667%; }

  .zd-md-9 {
    width: 75%; }

  .zd-mdLeft-9 {
    margin-left: 75%; }

  .zd-mdRight-9 {
    margin-right: 75%; }

  .zd-md-10 {
    width: 83.3333333333%; }

  .zd-mdLeft-10 {
    margin-left: 83.3333333333%; }

  .zd-mdRight-10 {
    margin-right: 83.3333333333%; }

  .zd-md-11 {
    width: 91.6666666667%; }

  .zd-mdLeft-11 {
    margin-left: 91.6666666667%; }

  .zd-mdRight-11 {
    margin-right: 91.6666666667%; }

  .zd-md-12 {
    width: 100%; }

  .zd-mdLeft-12 {
    margin-left: 100%; }

  .zd-mdRight-12 {
    margin-right: 100%; }

  .md-hiden {
    display: none; } }
@media (max-width: 1200px) and (min-width: 770px) {
  [class*=zd-sm-] {
    display: inline-block; }

  .zd-sm-1 {
    width: 8.3333333333%; }

  .zd-smLeft-1 {
    margin-left: 8.3333333333%; }

  .zd-smRight-1 {
    margin-right: 8.3333333333%; }

  .zd-sm-2 {
    width: 16.6666666667%; }

  .zd-smLeft-2 {
    margin-left: 16.6666666667%; }

  .zd-smRight-2 {
    margin-right: 16.6666666667%; }

  .zd-sm-3 {
    width: 25%; }

  .zd-smLeft-3 {
    margin-left: 25%; }

  .zd-smRight-3 {
    margin-right: 25%; }

  .zd-sm-4 {
    width: 33.3333333333%; }

  .zd-smLeft-4 {
    margin-left: 33.3333333333%; }

  .zd-smRight-4 {
    margin-right: 33.3333333333%; }

  .zd-sm-5 {
    width: 41.6666666667%; }

  .zd-smLeft-5 {
    margin-left: 41.6666666667%; }

  .zd-smRight-5 {
    margin-right: 41.6666666667%; }

  .zd-sm-6 {
    width: 50%; }

  .zd-smLeft-6 {
    margin-left: 50%; }

  .zd-smRight-6 {
    margin-right: 50%; }

  .zd-sm-7 {
    width: 58.3333333333%; }

  .zd-smLeft-7 {
    margin-left: 58.3333333333%; }

  .zd-smRight-7 {
    margin-right: 58.3333333333%; }

  .zd-sm-8 {
    width: 66.6666666667%; }

  .zd-smLeft-8 {
    margin-left: 66.6666666667%; }

  .zd-smRight-8 {
    margin-right: 66.6666666667%; }

  .zd-sm-9 {
    width: 75%; }

  .zd-smLeft-9 {
    margin-left: 75%; }

  .zd-smRight-9 {
    margin-right: 75%; }

  .zd-sm-10 {
    width: 83.3333333333%; }

  .zd-smLeft-10 {
    margin-left: 83.3333333333%; }

  .zd-smRight-10 {
    margin-right: 83.3333333333%; }

  .zd-sm-11 {
    width: 91.6666666667%; }

  .zd-smLeft-11 {
    margin-left: 91.6666666667%; }

  .zd-smRight-11 {
    margin-right: 91.6666666667%; }

  .zd-sm-12 {
    width: 100%; }

  .zd-smLeft-12 {
    margin-left: 100%; }

  .zd-smRight-12 {
    margin-right: 100%; }

  .sm-fLeft {
    float: left; }

  .sm-fRight {
    float: right; }

  .sm-hiden {
    display: none; } }
@media (max-width: 770px) {
  [class*=zd-xs-] {
    display: inline-block; }

  .zd-xs-1 {
    width: 8.3333333333%; }

  .zd-xsLeft-1 {
    margin-left: 8.3333333333%; }

  .zd-xsRight-1 {
    margin-right: 8.3333333333%; }

  .zd-xs-2 {
    width: 16.6666666667%; }

  .zd-xsLeft-2 {
    margin-left: 16.6666666667%; }

  .zd-xsRight-2 {
    margin-right: 16.6666666667%; }

  .zd-xs-3 {
    width: 25%; }

  .zd-xsLeft-3 {
    margin-left: 25%; }

  .zd-xsRight-3 {
    margin-right: 25%; }

  .zd-xs-4 {
    width: 33.3333333333%; }

  .zd-xsLeft-4 {
    margin-left: 33.3333333333%; }

  .zd-xsRight-4 {
    margin-right: 33.3333333333%; }

  .zd-xs-5 {
    width: 41.6666666667%; }

  .zd-xsLeft-5 {
    margin-left: 41.6666666667%; }

  .zd-xsRight-5 {
    margin-right: 41.6666666667%; }

  .zd-xs-6 {
    width: 50%; }

  .zd-xsLeft-6 {
    margin-left: 50%; }

  .zd-xsRight-6 {
    margin-right: 50%; }

  .zd-xs-7 {
    width: 58.3333333333%; }

  .zd-xsLeft-7 {
    margin-left: 58.3333333333%; }

  .zd-xsRight-7 {
    margin-right: 58.3333333333%; }

  .zd-xs-8 {
    width: 66.6666666667%; }

  .zd-xsLeft-8 {
    margin-left: 66.6666666667%; }

  .zd-xsRight-8 {
    margin-right: 66.6666666667%; }

  .zd-xs-9 {
    width: 75%; }

  .zd-xsLeft-9 {
    margin-left: 75%; }

  .zd-xsRight-9 {
    margin-right: 75%; }

  .zd-xs-10 {
    width: 83.3333333333%; }

  .zd-xsLeft-10 {
    margin-left: 83.3333333333%; }

  .zd-xsRight-10 {
    margin-right: 83.3333333333%; }

  .zd-xs-11 {
    width: 91.6666666667%; }

  .zd-xsLeft-11 {
    margin-left: 91.6666666667%; }

  .zd-xsRight-11 {
    margin-right: 91.6666666667%; }

  .zd-xs-12 {
    width: 100%; }

  .zd-xsLeft-12 {
    margin-left: 100%; }

  .zd-xsRight-12 {
    margin-right: 100%; }

  .xs-hide {
    display: none; } }
[class*=grid-] {
  display: grid; }
  [class*=grid-]:after, [class*=grid-]:before {
    position: absolute; }
  [class*=grid-] [class*=column1] {
    grid-column: 1; }
  [class*=grid-] [class*=-row1] {
    grid-row: 1; }
  [class*=grid-] [class*=column2] {
    grid-column: 2; }
  [class*=grid-] [class*=-row2] {
    grid-row: 2; }
  [class*=grid-] [class*=column3] {
    grid-column: 3; }
  [class*=grid-] [class*=-row3] {
    grid-row: 3; }
  [class*=grid-] [class*=column4] {
    grid-column: 4; }
  [class*=grid-] [class*=-row4] {
    grid-row: 4; }
  [class*=grid-] [class*=column5] {
    grid-column: 5; }
  [class*=grid-] [class*=-row5] {
    grid-row: 5; }

@media (min-width: 1200px) {
  .flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .flex-md .flex-1 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-md .flex-2 {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .flex-md .flex-3 {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3; }
    .flex-md .flex-4 {
      -webkit-box-flex: 4;
      -ms-flex: 4;
      flex: 4; }
    .flex-md .flex-5 {
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5; }
    .flex-md .flex-6 {
      -webkit-box-flex: 6;
      -ms-flex: 6;
      flex: 6; } }
@media (min-width: 770px) and (max-width: 1200px) {
  .flex-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .flex-sm .flex-1 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-sm .flex-2 {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .flex-sm .flex-3 {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3; }
    .flex-sm .flex-4 {
      -webkit-box-flex: 4;
      -ms-flex: 4;
      flex: 4; }
    .flex-sm .flex-5 {
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5; }
    .flex-sm .flex-6 {
      -webkit-box-flex: 6;
      -ms-flex: 6;
      flex: 6; } }
@media (max-width: 770px) {
  .flex-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .flex-xs .flex-1 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .flex-xs .flex-2 {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .flex-xs .flex-3 {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3; }
    .flex-xs .flex-4 {
      -webkit-box-flex: 4;
      -ms-flex: 4;
      flex: 4; }
    .flex-xs .flex-5 {
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5; }
    .flex-xs .flex-6 {
      -webkit-box-flex: 6;
      -ms-flex: 6;
      flex: 6; } }
[class*=grid-c1] {
  grid-template-columns: repeat(1, 1fr); }

[class*=grid-w1] {
  grid-template-rows: repeat(1, 1fr); }

[class*=grid-c2] {
  grid-template-columns: repeat(2, 1fr); }

[class*=grid-w2] {
  grid-template-rows: repeat(2, 1fr); }

[class*=grid-c3] {
  grid-template-columns: repeat(3, 1fr); }

[class*=grid-w3] {
  grid-template-rows: repeat(3, 1fr); }

[class*=grid-c4] {
  grid-template-columns: repeat(4, 1fr); }

[class*=grid-w4] {
  grid-template-rows: repeat(4, 1fr); }

[class*=grid-c5] {
  grid-template-columns: repeat(5, 1fr); }

[class*=grid-w5] {
  grid-template-rows: repeat(5, 1fr); }

[class*=zd-mdLeft], [class*=zd-smLeft], [class*=zd-xsLeft] {
  width: auto; }

.fLeft {
  float: left; }

.fRight {
  float: right; }

.hide {
  display: none; }

blockquote, .blockquote {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
  border-left: 5px solid #094fb7;
  display: block;
  font-size: 15px;
  word-wrap: break-word;
  letter-spacing: 1px;
  background: #e3eefb;
  max-width: 99%;
  margin: 0 auto;
  color: #525050;
  clear: both;
  margin-bottom: 0.5rem; }

.clearFloat {
  position: relative; }
  .clearFloat:after {
    content: '';
    clear: both;
    display: block; }
  .clearFloat:before {
    content: '';
    clear: both;
    display: block; }

.float-cent, .float-left, .float-right, .float-middle {
  position: relative;
  margin: auto;
  min-width: 1px;
  min-height: 1px;
  position: absolute; }
  .float-cent:after, .float-left:after, .float-right:after, .float-middle:after {
    content: '';
    clear: both;
    display: block; }
  .float-cent:before, .float-left:before, .float-right:before, .float-middle:before {
    content: '';
    clear: both;
    display: block; }

.float-cent {
  left: 0;
  right: 0; }

.float-left {
  top: 0; }

.float-right {
  right: 0; }

.float-middle {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.tx-cent {
  text-align: center; }

.tx-left {
  text-align: left; }
  .tx-left * {
    float: initial !important;
    display: inline-block !important; }

.tx-right {
  text-align: right; }
  .tx-right * {
    float: initial !important;
    display: inline-block !important; }

.tx-eme {
  color: #1d6de2; }

.bor-eme {
  border: 1px solid #1d6de2; }

[class*=bt-] {
  padding: 7px 15px;
  display: inline-block;
  border-radius: 5px;
  transition: .3s;
  text-align: center; }
  [class*=bt-].prev, [class*=bt-].next {
    font-family: '黑体';
    line-height: 21px; }

.bt-def, .bt-line {
  cursor: pointer;
  height: 35px; }

.bt-def {
  border: 1px solid #1d6de2;
  background: #1d6de2;
  color: #fff;
  cursor: pointer; }
  .bt-def:hover {
    background: #094fb7;
    border-color: #094fb7; }
  .bt-def + .active {
    background: #094fb7;
    border-color: #094fb7; }

.bt-line {
  border: 1px solid #1d6de2;
  background: #fff;
  color: #1d6de2; }
  .bt-line:hover {
    background: #1d6de2;
    border-color: #1d6de2;
    color: #fff; }

.bt-group {
  border: 1px solid #1d6de2;
  padding: 0;
  margin-top: 5px;
  height: 35px;
  overflow: hidden; }
  .bt-group .bt-def, .bt-group .bt-line {
    float: left;
    height: 100%;
    border-radius: 0;
    border: none; }
  .bt-group .bt-def + .bt-def {
    border-left: 1px solid #094fb7; }
  .bt-group .bt-line + .bt-line {
    border-left: 1px solid #094fb7; }

.bt-down {
  border: 1px solid #1d6de2;
  padding: 0;
  margin-top: 5px;
  height: auto;
  overflow: hidden; }
  .bt-down .bt-def, .bt-down .bt-line {
    border-radius: 0;
    width: 100%;
    border: none;
    display: block;
    margin-bottom: 0 !important; }
  .bt-down .bt-def + .bt-def {
    border-top: 1px solid #094fb7; }
  .bt-down .bt-line + .bt-line {
    border-top: 1px solid #094fb7; }

[class*=caret] {
  float: left; }

.caret {
  border-width: 10px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent; }

.caret-right {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #ddd; }

.caret-top {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent; }

.caret-left {
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ddd transparent transparent; }

.caretB {
  border-width: 10px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent; }
  .caretB:after {
    top: -12px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -10px; }
  .caretB:after {
    border-color: #f8f8f8 transparent transparent transparent; }

.caret-rightB {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #ddd; }
  .caret-rightB:after {
    top: -11px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -12px; }
  .caret-rightB:after {
    border-color: transparent transparent transparent #f8f8f8; }

.caret-topB {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent; }
  .caret-topB:after {
    top: -8px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -10px; }
  .caret-topB:after {
    border-color: transparent transparent #f8f8f8 transparent; }

.caret-leftB {
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ddd transparent transparent; }
  .caret-leftB:after {
    top: -10px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -8px; }
  .caret-leftB:after {
    border-color: transparent #f8f8f8 transparent transparent; }

.caret-eme {
  border-width: 10px;
  border-style: solid;
  border-color: #1d6de2 transparent transparent transparent; }

.caret-right-eme {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #1d6de2; }

.caret-top-eme {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #1d6de2 transparent; }

.caret-left-eme {
  border-width: 10px;
  border-style: solid;
  border-color: transparent #1d6de2 transparent transparent; }

.caretB-eme {
  border-width: 10px;
  border-style: solid;
  border-color: #1d6de2 transparent transparent transparent; }
  .caretB-eme:after {
    top: -12px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -10px; }
  .caretB-eme:after {
    border-color: #fff transparent transparent transparent; }

.caret-rightB-eme {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #1d6de2; }
  .caret-rightB-eme:after {
    top: -10px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -12px; }
  .caret-rightB-eme:after {
    border-color: transparent transparent transparent #fff; }

.caret-topB-eme {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #1d6de2 transparent; }
  .caret-topB-eme:after {
    top: -8px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -10px; }
  .caret-topB-eme:after {
    border-color: transparent transparent #fff transparent; }

.caret-leftB-eme {
  border-width: 10px;
  border-style: solid;
  border-color: transparent #1d6de2 transparent transparent; }
  .caret-leftB-eme:after {
    top: -10px;
    content: '';
    border-width: 10px;
    height: 0;
    position: absolute;
    right: -10px;
    width: 0;
    border-style: solid;
    bottom: -10px;
    left: -8px; }
  .caret-leftB-eme:after {
    border-color: transparent #fff transparent transparent; }

[class*=panel-] {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 5px;
  border: 1px solid transparent; }
  [class*=panel-]:after {
    content: '';
    clear: both;
    display: block; }
  [class*=panel-]:before {
    content: '';
    clear: both;
    display: block; }

.panel-def, [class*=panel-def-] {
  border-color: #ddd;
  background: #f8f8f8; }

[class*=panel-def-T], [class*=panel-def-B], [class*=panel-eme-T], [class*=panel-eme-B] {
  margin-top: 15px; }
  [class*=panel-def-T] [class*=caret], [class*=panel-def-B] [class*=caret], [class*=panel-eme-T] [class*=caret], [class*=panel-eme-B] [class*=caret] {
    position: absolute; }

.panel-def-B1 [class*=caret] {
  bottom: -30px;
  left: 25%; }
  .panel-def-B1 [class*=caret]:after {
    top: -11px; }

.panel-def-B2 [class*=caret] {
  bottom: -30px;
  left: 50%; }
  .panel-def-B2 [class*=caret]:after {
    top: -11px; }

.panel-def-B3 [class*=caret] {
  bottom: -30px;
  left: 75%; }
  .panel-def-B3 [class*=caret]:after {
    top: -11px; }

.panel-def-T1 [class*=caret] {
  top: -20px;
  left: 25%; }
  .panel-def-T1 [class*=caret]:after {
    top: -9px; }

.panel-def-T2 [class*=caret] {
  top: -20px;
  left: 50%; }
  .panel-def-T2 [class*=caret]:after {
    top: -9px; }

.panel-def-T3 [class*=caret] {
  top: -20px;
  left: 75%; }
  .panel-def-T3 [class*=caret]:after {
    top: -9px; }

.panel-eme, [class*=panel-eme-] {
  border-color: #1d6de2;
  background: #1d6de2;
  color: #fff;
  -webkit-box-shadow: 1px 2px 7px #afcefb;
  box-shadow: 1px 2px 7px #afcefb; }

.panel-eme-B1 [class*=caret] {
  bottom: -30px;
  left: 25%; }
  .panel-eme-B1 [class*=caret]:after {
    top: -11px; }

.panel-eme-B2 [class*=caret] {
  bottom: -30px;
  left: 50%; }
  .panel-eme-B2 [class*=caret]:after {
    top: -11px; }

.panel-eme-B3 [class*=caret] {
  bottom: -30px;
  left: 75%; }
  .panel-eme-B3 [class*=caret]:after {
    top: -11px; }

.panel-eme-T1 [class*=caret] {
  top: -20px;
  left: 25%; }
  .panel-eme-T1 [class*=caret]:after {
    top: -9px; }

.panel-eme-T2 [class*=caret] {
  top: -20px;
  left: 50%; }
  .panel-eme-T2 [class*=caret]:after {
    top: -9px; }

.panel-eme-T3 [class*=caret] {
  top: -20px;
  left: 75%; }
  .panel-eme-T3 [class*=caret]:after {
    top: -9px; }

[class*=crumbs] {
  position: relative;
  display: block; }
  [class*=crumbs] li, [class*=crumbs] a, [class*=crumbs] span {
    display: inline-block;
    float: left;
    color: #000; }
    [class*=crumbs] li + li, [class*=crumbs] li + a, [class*=crumbs] li + span, [class*=crumbs] a + li, [class*=crumbs] a + a, [class*=crumbs] a + span, [class*=crumbs] span + li, [class*=crumbs] span + a, [class*=crumbs] span + span {
      margin-left: 25px; }
      [class*=crumbs] li + li:after, [class*=crumbs] li + a:after, [class*=crumbs] li + span:after, [class*=crumbs] a + li:after, [class*=crumbs] a + a:after, [class*=crumbs] a + span:after, [class*=crumbs] span + li:after, [class*=crumbs] span + a:after, [class*=crumbs] span + span:after {
        content: '/';
        position: absolute;
        left: -15px;
        top: 0px;
        color: #ccc; }
    [class*=crumbs] li a:hover, [class*=crumbs] a a:hover, [class*=crumbs] span a:hover {
      text-decoration: underline; }

.crumbs-eme li, .crumbs-eme a, .crumbs-eme span {
  color: #1d6de2; }
.crumbs-eme + li, .crumbs-eme + a, .crumbs-eme + span {
  color: #1d6de2; }

[class*=crumbs] li, [class*=crumbs] a, [class*=crumbs] span {
  color: #423f3f; }

.panel-def {
  line-height: 60px;
  padding: 0 20px; }
  .panel-def .fRight a {
    background: #0f9ef5;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0px 7px 12px #efeaea;
    transition: .3s;
    color: #fff;
    display: inline-block; }
    .panel-def .fRight a + a {
      margin-left: 30px; }
    .panel-def .fRight a:hover {
      background: #0b8ad8; }

.tab, .title {
  width: 100%;
  padding: 10px;
  border-radius: 9px;
  border: 1px solid #ddd;
  box-shadow: 0 0 6px #ddd;
  transition: .4s;
  margin: 5px 0;
  font-size: 15px; }
  .tab:focus, .title:focus {
    box-shadow: 0 0 6px #a5c7eb; }

.news-wrap {
  display: block;
  margin-top: 20px; }
  .news-wrap .news-header {
    display: flex;
    background: #e5e7e8;
    border: 1px solid #ccc;
    border-radius: 3px; }
    .news-wrap .news-header li {
      padding: 8px 0;
      flex: 1;
      color: #4e4d4d;
      text-align: center;
      font-size: 15px;
      font-weight: 600; }
      .news-wrap .news-header li + li {
        border-left: 1px solid #c5b8b8; }
  .news-wrap .news-list {
    display: flex;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd; }
    .news-wrap .news-list:hover {
      background: #ddd !important; }
    .news-wrap .news-list li {
      flex: 1;
      color: #3e3a3a; }
      .news-wrap .news-list li a {
        display: inline-block;
        margin: 0 5px;
        padding: 5px 15px;
        color: #fff;
        background: #0f9ef5;
        border-radius: 3px;
        line-height: 30px;
        padding: 0px 15px;
        transition: .4s; }
        .news-wrap .news-list li a:hover {
          background: #0b8ad8; }
      .news-wrap .news-list li:nth-last-child(1) {
        text-align: center; }
    .news-wrap .news-list:nth-child(odd) {
      background: #f3f3f4; }
  .news-wrap .news-pagation {
    margin-top: 20px;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
