@charset 'utf-8';

*{
    padding:0;margin:0;
    color: #5a5454;
    box-sizing: border-box;
}
a,li{
    text-decoration: none;
    list-style: none;
}

$color:#63a4dc;
body{
    background:#f6f6f7;
}

.container{
    width:1200px;
    max-width: 90%;
    margin:0 auto;
    position: relative;
    display: block;
    &:after{
        content:'';
        display:table;
        clear: both;
    }
}

header{
    position: relative;
    .logo-bj{
        max-width:100%;
    }

    nav{
        position: absolute;
        right: 20px;
        top: 15px;

        *{
            color:#dcd6d6;;;
        }

        li{
            list-style: none;
            float:left;
            a{
                padding: 10px 20px;
                font-size: 17px;
                text-decoration: none;
                display: inline-block;
                transition:.4s;
                &:hover{
                    color:#fff;
                }
            }
        }
    }

    .logo{
        position: absolute;
        top: 0;
        background: rgba(255, 255, 255, 0.94);
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .tx{
        position: absolute;
        bottom: 15%;
        z-index: 9;
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;
        text-align: center;

        h1{
            font-size:17px;    color: #fff;
            margin-bottom: 10px;
        }
        p{
            color: rgba(255, 255, 255, 0.92);
            font-size: 14px;
            letter-spacing: 2px;
        }
    }
}

.cont{
    
    
    .fLeft{
        float:left;
        width:76%;

        .news-list{
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }

        .pagation{
            width: 100%;
            display: block;
            background: #e4e2e2;
            font-size: 13px;
            margin-bottom:20px;
            
            a{
                padding: 7px 0;
                border:1px solid transparent;
                display: block;
                transition: .5s;    text-align: center;

                &:hover{
                    border:1px solid $color;
                }
            }
        }

        li{
            width:33.33%;padding: 25px;
            a{
                border: 1px solid rgb(241, 240, 240);background:#fff;
                width:100%;display: inline-block;position: relative;
                min-height:200px;    padding:10px;
                transition: .4s;
                &:after{
                    content:'';
                    display:table;
                    clear: both;
                }
                &:hover{
                    box-shadow: -4px 4px 40px #d1d1d1;
                    border-color: $color;
                }
                .time{
                    position: absolute;
                    background: #63a4dc;
                    left: 0;
                    width: 50px;
                    top: 0;
                    transform: translate(-50%, -50%);
                    height: 50px;
                    border-radius: 1px;
                    border: 1px solid #427caf;
                    h1{
                        color:#fff;
                        margin-bottom: -3px;
                        font-size: 22px;
                    }
                    span{
                        color:#fff;
                        font-size: 15px;
                    }
                }

                >h1{
                    font-size: 16px;
                    text-align: left;
                    font-weight: 600;
                    position: relative;
                    padding-top: 10px;
                    overflow: hidden;
                    margin-left: 20px;
                    height: 30px;

                    &:before{
                        content:'';
                        width:30px;height:3px;
                        background:$color;position:absolute;
                        top:0;left:0;
                    }
                }
                >p{
                    font-size: 12px;
                    text-align: left;
                    margin-top: 10px;
                    letter-spacing: 1px;
                    max-height: 115px;
                    overflow: hidden;
                }
            }
        }

        .tab{
            position: absolute;
            left: 10px;
            bottom: 10px;
            font-size: 12px;

            span{
                background: #f6f6f7;
                display: inline-block;
                padding: 0px 8px;
                border-radius: 2px;
                border: 1px solid #ddd;
            }
            span+span{
                margin-left:15px;
            }
        }
    }
    .fRight{
        border: 1px solid #f1ecec;
        margin-top: 15px;
        float:right;
        width:24%;
        background:#fff;
        text-align:center;
        padding:10px;
        .logo{
            img{
                margin: 10px 0;
                width: 100px;
                height: 100px;
                border: 1px solid #f3f3f4;
                border-radius: 50%;
            }
            p{
                font-size: 14px;
            }
        }

        .new-tab{
            display: flex;
            flex-wrap:wrap;
            margin-top:15px;

            li{
                width:33.33%;margin: 10px 0;
                a{
                    font-size: 14px;
                    padding: 8px 0;
                    border-radius: 3px;
                    transition: .4s;
                    color: #fff;
                    background: #d6d5d5;
                    width: 80px;
                    display: inline-block;
                }
            }
            .active,li:hover{
                a{
                    background: $color;
                }
            }
        }
    }
}

.newInfo{
    border: 1px solid #f6f6f7;
    margin: 20px auto;

    .fLeft{
        
        float:left;
        width:74%;

        .new-head{
            border-bottom: 1px solid #f3f3f4;
            padding-bottom: 20px;background: #fff;
            padding: 15px;
            h1{
                color:#2d2d2d;
            }
        }

        .new-cont{
            background: #fff;padding: 15px;
        }

        // comment
        .new-comment{
            background: #fff;
            margin-top: 20px;
            padding:10px 0;

            .comm{
                width: 90%;
                margin: 0 auto;
                display: block;
                outline: none;
                border-radius: 5px;
                font-size: 18px;
                max-height: 90px;
                padding: 5px;
                transition:.3s;

                &:focus{
                    box-shadow: 0 0 15px #88a2de;
                }
            }
            .sub{

                i{
                    color:#fff !important;
                }

                display: block;
                margin-top: 10px;
                margin-left: 84%;
                padding: 9px 20px;
                box-sizing: border-box;
                background: #1e45b1;
                color: #fff !important;
                border: 1px solid #214abd;
                border-radius: 5px;
                transition: .3s;
                cursor: pointer;
                outline:none;

                &:hover{
                    background:#2652cc;
                }
                
            }
            .comm-top{
                
                border-bottom: 1px solid #e0dcdc;
                padding-bottom: 10px;padding: 15px;
                font-size: 15px;
                font-weight: 600;
                color: #232323;
                letter-spacing: 1px;
            }
            .comm-list{
                padding:15px;

                .list{
                    margin-bottom: 20px;
                    border-bottom: 1px solid #eaeaec;
                    padding-bottom: 20px;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: none;
                        vertical-align: middle;
                    }

                    .name-top{
                        display:inline-block;
                        
                        span{
                            margin:0 13px;
                            font-size:13px;
                            &:nth-child(1){
                                font-weight: 600;
                                font-size: 16px;
                                margin-left: 15px;
                            }

                            i{
                                cursor: pointer;
                            }
                        }
                    }

                    .tx{
                        letter-spacing: 1px;
                        margin-top:10px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .fRight{
        float:right;padding: 20px;
        width:24%;background: #fff;

        .small{
            img{
                border: 1px solid #ddd;
                border-radius: 50%;
                vertical-align:middle;
                max-width: 90px;
                max-height: 90px;
                margin-top: -5px;
                display: block;
                margin: 0 auto;
            }


            *{
                font-size: 11px;
                color: #565353;
                margin: 8px 0;
                text-align: center;
                
            }

            span{
                margin-right: 18px;display: inline-block;
            }

            .name{
                font-size: 24px;
                color: #3c3a3a;margin:5px 0;
                display: block;text-align: center;
            }

            .time{
                margin-bottom: 10px;
                display: block;
                text-align: center;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: 500;
            }

            span{
                background: #2652cc;
                color: #fff;
                padding: 2px 10px;
                border-radius: 4px;
                font-weight: 100;
                font-size: 13px;
            }

            .ckzan{
                display:inline-block;
                cursor: pointer;
                transition:.4s;
                &:hover{
                    box-shadow: 0 0 5px #ff0000;
                    border-radius: 2px;
                    padding: 0 10px;
                }
                &.active{
                    color:#ff0000 !important;
                    *{
                        color:#ff0000!important;
                    }
                }
            }

            a{
                display: block;
            }
        }
    }

    

    .new-cont{
        padding-top: 20px;
    }
}