@import './zd-col.scss';

[class*=crumbs] li, [class*=crumbs] a, [class*=crumbs] span{
    color: #423f3f;

}

.panel-def{
    line-height: 60px;
    padding: 0 20px;
    .fRight{
        a{
            background: #0f9ef5;
            height: 35px;
            line-height: 35px;
            padding: 0 20px;
            border-radius: 5px;
            box-shadow: 0px 7px 12px #efeaea;
            transition:.3s;color:#fff;
            display:inline-block;

            &+a{
                margin-left:30px;
            }
            &:hover{
                background:#0b8ad8;
            }
        }
    }
}


.tab,.title{
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #ddd;
    box-shadow: 0 0 6px #ddd;
    transition: .4s;margin:5px 0;
    font-size: 15px;
    &:focus{
        box-shadow: 0 0 6px rgb(165, 199, 235);
    }
}
.news-wrap{
    display:block;
    margin-top: 20px;
    .news-header{
        display: flex;
        background: #e5e7e8;
        border: 1px solid #ccc;
        border-radius: 3px;
        li{
            padding: 8px 0;
            flex:1;
            color:rgb(78, 77, 77);
            text-align:center;
            font-size: 15px;
            font-weight: 600;

            &+li{
                border-left:1px solid #c5b8b8;
            }
        }
    }
    
    .news-list{
        display: flex;height:45px;line-height:45px;padding-left:10px;
        border-bottom: 1px solid #ddd;
        &:hover{
            background:#ddd !important;
        }
        li{
            flex:1;color:#3e3a3a;

            a{
                display: inline-block;
                margin: 0 5px;
                padding: 5px 15px;
                color: #fff;
                background: #0f9ef5;
                border-radius: 3px;
                line-height: 30px;
                padding: 0px 15px;
                transition:.4s;

                &:hover{
                    background:#0b8ad8;
                }
            }

            &:nth-last-child(1){
                text-align:center;
            }
        }

        &:nth-child(odd){
            background:#f3f3f4;
        }
    }

    .news-pagation{
        margin-top:20px;
        text-align:center;
    }
}

