<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/web/css/index.css">
</head>
<body>
<header>
    <img src="/public/web/logo-bj.jpg" alt="" class="logo-bj">

    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Juejin</a></li>
        <li><a href="">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </nav>

    <img src="/public/web/logonameimg.png" alt="" class="logo">
    <div class="tx">
        <h1>总督sir</h1>
        <p>梦想还是要有的，万一实现了呢</p>
    </div>
</header>

<div class="container cont">
    <div class="fLeft">

        <div class="pagation">
              <a href="">加载更多...</a>
        </div>
    </div>

    <!-- .fRight -->
    <div class="fRight">
        <div class="logo">
            <img src="/public/web/logonameimg.png" alt="">
            <p>
                热爱技术的有为青年
            </p>
        </div>

        <!-- new-tab -->
        <div class="new-tab">
            <li class="active"><a href="">全部</a></li>
            <li><a href="">JS</a></li>
            <li><a href="">CSS3</a></li>
            <li><a href="">HTML5</a></li>
            <li><a href="">VUE</a></li>
        </div>
    </div>
</div>



<input type="text" name="name" class="in1" value="1">
<input type="text" class="in2" value="1">
<button class="sub">确认</button>
<div class="show"></div>

</body>
<script src="/public/web/jq.js"></script>
<script>

$.ajax({
      url: '../api/user/index',
      type: 'post',
      success: function(res){
            for(var i=0;i<res.length;i++){
                  $('.cont .fLeft').prepend(
                        `<li><a href="">
                              <div class="time">
                              <h1>${res[i].time.split('-')[2].split('T')[0]}</h1>
                              <span>${res[i].time.split('-')[1]}</span>
                              </div>
                              <h1>${res[i].title}</h1>
                              <p>${res[i].cont}</p>
                              <div class="tab">
                                    <span>标签:${res[i].tab}</span>
                                    <span>${res[i].time.split('T')[0]}</span>
                              </div>
                        </a></li>`
                  )
            }
      }
})



var in1 = document.querySelector('.in1')
var in2 = document.querySelector('.in2')
var sub = document.querySelector('.sub')
sub.onclick = function(){
    
//     $.ajax({
//         url: '../admin/user/find',
//         type: 'post',
//         data: {
//             name: $('.in1').val(),
//             password: $('.in2').val()
//         },
//         dataType: 'json',
//         success: function(res){
//             var str = '';
//             var pas = '';
//             for(var i = 0;i<res.length;i++){
//                 str += res[i].username + '　　　'
//                 pas += res[i].password + '　　　'
//             }
//             $('.show').append('<br> 帐号： '+str)
//             $('.show').append('<br> 密码： '+pas)
//         }
//     })
}
</script>
</html>