<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta rel='prefetch' href="/public/web/logo-bj.jpg">
    <title>青春无悔</title>
    <link rel="stylesheet" type="text/css" href="/public/web/css/index.css">
</head>
<body>
<header>
    <img src="/public/web/logo-bj.jpg" alt="" class="logo-bj">

    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Juejin</a></li>
        <li><a href="">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </nav>

    <img src="/public/web/logonameimg.png" alt="" class="logo">
    <div class="tx">
        <h1>总督sir</h1>
        <p>梦想还是要有的，万一实现了呢</p>
    </div>
</header>

<div class="container cont">
    <div class="fLeft">
        <div class="news-list"></div>
        <div class="pagation">
              <a href="javascrip:;" onclick="newAll()">加载更多...</a>
        </div>
    </div>

    <!-- .fRight -->
    <div class="fRight">
        <div class="logo">
            <img src="/public/web/logonameimg.png" alt="">
            <p>
                热爱技术的有为青年
            </p>
        </div>

        <!-- new-tab -->
        <div class="new-tab">
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function getEl(e,q){
    return (q || document).querySelector(e)
}
function run(i,res){
    var str='标签：';
    for(var j=0;j<res[i].tab.split(',').length;j++){
        str +=`<span>${res[i].tab.split(',')[j]}</span>`
    }
    return str;
}
var cont = getEl('.news-list'),
    list = 0;
function newAll(q,_this){
        // 切换tab
        if(_this != null){
            var par = _this.parentNode;
            par.className = 'active';
            var p= par.previousSibling;
            var n= par.nextSibling;
            // 每次点击分类重置 文章的显示个数
            list = 0;
            while (p) {
                if( p.nodeType === 1){
                    p.className = '';
                }
                p= p.previousSibling;
            }
            while (n) {
                if( n.nodeType === 1){
                    n.className = '';
                }
                n= n.nextSibling;
            }
        }

        // html拼接
        var b = '';
        list++;
        // 第一次访问或点击全部按钮
        if(q == null || q==='max'){
            axios.post('../api/user/index',{
                list: list 
            }).then(function(res){
                for(var i=0;i<res.data.length;i++){
                    b += `<li><a href="./newInfo?id=${res.data[i].id}">
                                <div class="time">
                                <h1>${res.data[i].time.split('-')[2].split('T')[0]}</h1>
                                <span>${res.data[i].time.split('-')[1]}</span>
                                </div>
                                <h1>${res.data[i].title}</h1>
                                <p>${res.data[i].cont.replace(/<\/?[^>]*>/g, '')}</p>
                                <div class="tab">`+
                                run(i,res.data)+
                                `</div>
                        </a></li>`;
                }
                cont.innerHTML = b
            })
        // 指定分类
        }else{
            axios.post('../api/user/tabNews',{
                tab: q,
                list: list
            }).then(function(res){
                for(var i=0;i<res.data.length;i++){
                    b += `<li><a href="./newInfo?id=${res.data[i].id}">
                                <div class="time">
                                <h1>${res.data[i].time.split('-')[2].split('T')[0]}</h1>
                                <span>${res.data[i].time.split('-')[1]}</span>
                                </div>
                                <h1>${res.data[i].title}</h1>
                                <p>${res.data[i].cont.replace(/<\/?[^>]*>/g, '')}</p>
                                <div class="tab">`+
                                run(i,res.data)+
                                `</div>
                        </a></li>`;
                }
                cont.innerHTML = b
            }).catch(function(err){
                console.log(err)
            })
        }
}


// 获取文章
newAll()
// 文章唯一分类
var newTab = getEl('.new-tab')
axios.post('../api/admin/newsAll').then(function(res){
    if(res.data){
        var tabCl = [];
        // 去重
        for(var i=0;i<res.data.length;i++){
            var ab = res.data[i].tab.split(',')
            for(var j=0;j<ab.length;j++){
                if(tabCl.indexOf(ab[j]) < 0){
                    tabCl.push(ab[j])
                }
            }
        }
        var st = `<li class="active"><a href="javascript:;" onclick="newAll('max',this)">全部</a></li>`
        for(var k = 0;k<tabCl.length;k++){
            st += `<li><a href="javascript:;" onclick="newAll('${tabCl[k]}',this)">${tabCl[k]}</a></li>`
        }
        newTab.innerHTML = st
    }
})
</script>
</html>