<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title+'-'+username}}</title>
    <link rel="stylesheet" href="/public/web/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/web/css/index.css">
</head>
<body>
<header>
    <img src="/public/web/logo-bj.jpg" alt="" class="logo-bj">

    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Juejin</a></li>
        <li><a href="">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </nav>

    <img src={{logoURL || '/public/temp/moren.png'}} alt="" class="logo">
    <div class="tx">
        <h1>{{username || '还没登录'}}</h1>
        <p>梦想还是要有的，万一实现了呢</p>
    </div>
</header>

<div class="container newInfo">
    <div class="fLeft">
        <div class="new-head">
            <h1>{{title}}</h1>
        </div>
    
        <!-- 用js对html标签转义一下 -->
        <div class="new-cont" data-cont="{{cont}}">
        </div>

        <!-- 文章评论 -->
        <div class="new-comment">
            <textarea name="" class="comm" placeholder="填写评论内容" cols="30" rows="10"></textarea>
            <button class='sub'><i class="fa fa-send-o"></i> 确认回答</button>
            
            <a href="" id="comment"></a>
            <div class="comm-top">
            </div>

            <div class="comm-list">
            </div>
        </div>
    </div>

    <!-- fRight -->
    <div class="fRight">
        <div class="small">
            <img src="/public/web/logonameimg.png" alt="">
            <div class="name">{{name || '佚名者'}}</div>
            <div class="time">
                <i class="fa fa-clock-o"></i>
                发布时间:{{time}}
            </div>
            <div class="visit">
            </div>

            <div class="zan">
            </div>

            <a class="commLen" href="#comment">
            </a>

            {% for tab in tab %}
                <span>{{tab}}</span>
            {% endfor %}
    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var cont = getEl('[data-cont]'),
    sub = getEl('.sub'),
    comm = getEl('.comm'),
    commTop = getEl('.comm-top'),
    id = location.search.split('id=')[1],
    list = getEl('.comm-list'),
    commLen = getEl('.commLen'),
    visit = getEl('.visit'),
    zan = getEl('.zan'),
    un = sessionStorage.getItem('username'),
    ps = sessionStorage.getItem('password');
    cont.innerHTML = cont.dataset.cont;

// 评论
sub.onclick = function(){
    var value = comm.value;
    if(value == '' || value == null || !value.trim()){
        alert('不能为空');
        return;
    }
    axios.post('../api/news/comm',{
        cont: value,
        newsId: id
    }).then(function(res){
        if(res.data){
            comm.value = '';
            getComm()
        }else{
            alert('还没登录')
        }
    })
}
var name = sessionStorage.getItem('username');
function getComm(){
    axios.post('../api/news/getComm',{
    id: id
    }).then(function(res){
        if(res.data){
            // 评论数
            commLen.innerHTML = `<i class="fa fa-comments-o"></i> 评论数：${res.data.length}`;
            // html字符拼接，缓存res.data数据，判断拼接显示删除按钮
            var str = '',data = res.data,showSpan='';
            commTop.innerHTML = '全部评论('+data.length+')';

            for(var i=0;i<data.length;i++){
                if(name == data[i].comName){
                    showSpan = `<span onclick="delComm(${data[i].id})" title="删除评论"><i class="fa fa-trash-o"></i></span>`;
                }
                str += `<div class="list">
                    <img src="${data[i].logoURL || '/public/temp/moren.png'}" alt="">
                    <div class="name-top">
                        <span><i class="fa fa-user"></i> ${data[i].comName}</span>
                        <span><i class="fa fa-clock-o"></i> ${data[i].contTime}</span>`
                        +showSpan+
                        `
                    </div>
                    <div class="tx">
                        ${data[i].comCont}
                    </div>
                </div>`
            }

            list.innerHTML = str;
        }
    })
}

// 延时操作
setTimeout(function(){
    // 浏览量
    axios.post('../api/news/commLen',{
        id: id
    }).then(function(res){
        if(res.data){
            visit.innerHTML = `<i class="fa fa-eye"></i> 浏览量：${res.data || 0}`;
        }
    })
},0)



function setZan(){
    axios.post('../api/news/setZan',{
        id:id
    }).then(function(res){
        newsZan()
    })
}

var un = sessionStorage.getItem('username');
// 获取支持数
function newsZan(){
    axios.post('../api/news/zan',{
        id:id
    }).then(function(res){
        var name = res.data,
            isShow = false;
        if(name){
            name.forEach(function(v,i){
                console.log(name[i])
                console.log(un)
                if(name[i] == un){
                    isShow = true;
                }
            })
        }
        zan.innerHTML = `<div class="ckzan ${isShow ? 'active' : ''}" onclick="setZan()">
            <i class="fa fa-heart"></i> 支持：${name.length || 0}</div>`
    })
}

newsZan();
// 首次获取全部评论
getComm()
// 删除评论
function delComm(id){
    axios.post('../api/news/delComm',{
        id: id
    }).then(function(res){
        if(res.data){
            getComm()
        }else{
            console.log('删除失败')
        }
    })
}
function getEl(e,p){
    return (p || document).querySelector(e)
}
</script>
</body>
</html>